# Developer tools and test/validation libraries
black
bump2version
flake8
flake8-docstrings
flake8-annotations
ipyfilechooser
isort
mypy
nbqa
pytest
pytest-cov
setuptools
twine
wheel
pyinstaller
PyQtWebEngine
